
<div class="container">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 loginForm">
        <h1><span class="fa fa-sign-in"></span> Login</h1>
        <div  ng-show="visibleErrorLoginMessage" class="alert-message error"><p class="text-danger">{{errorLoginMessage}}</p></div>

        <!-- LOGIN FORM -->
        <form class="loginUserForm" name="loginUserForm"  ng-submit="loginSubmitForm()" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : loginUserForm.email.$invalid && !loginUserForm.email.$pristine }">
                <label>Email</label>
                <input type="email" ng-model='user.email' class="form-control" name="email" required>
                <div ng-show="!loginUserForm.email.$pristine" class="help-block" ng-messages="loginUserForm.email.$error" >
                    <div ng-messages-include='../messages/errorMsg.html'></div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : loginUserForm.password.$invalid && !loginUserForm.password.$pristine }">
                <label>Password</label>
                <input type="password"  ng-model='user.password' class="form-control" name="password" required>
                <div ng-show="!loginUserForm.password.$pristine" class="help-block" ng-messages="loginUserForm.password.$error" >
                    <div ng-messages-include='../messages/errorMsg.html'></div>
                </div>
            </div>
            <div class="form-group">
                <span>Remember Me</span>
                <input type="checkbox"  ng-model='user.remember' name="remember" value="yes">
            </div>
            <button type="submit" class="btn loginButton ">Login</button>
        </form>

        <p>Need an account? <a href="#/signup">Signup</a></p>
    </div>
</div>
