
.home-container{
    margin-top: 50px;
}

body 		{ padding-top:60px; }
.loginForm {
    border: 2px solid lightgray;
    box-shadow: 10px 10px 5px #888888;
}
.loginButton {
    color: white!important;
    width:100%;
    background-color: #ab2758;
}

.book-container {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 2px solid #e3e3e3;
    border-radius: 9px;
    -webkit-box-shadow: outset  -8px 9px 6px 2px rgba(0,0,0,.05);
    box-shadow: -8px 9px 6px 2px rgba(0, 0, 0, 0.05);

}

.app-books {
    background-color: #f5f5f5!important;
}


.addBook {
    top: 77px;
    position: fixed;
    right: 3px;
    z-index:2222;
}

.gray {
    color:gray;
}

.blue {
    color:#f1c40f;
}

.line1 {
    width: 35px;
    height: 34px;
    border-bottom: 2px solid #880c0c;
    -webkit-transform: translateY(7px) translateX(-21px) rotate(130deg);
    position: absolute;
    left: 30px;
    top: 60px;
    
}
.notification {
    border : 1px solid red;
}