
.home-container{
    margin-top: 50px;
}

body 		{ padding-top:80px; }
.loginForm {
    border: 2px solid lightgray;
    box-shadow: 10px 10px 5px #888888;
}
.loginButton {
    color: white;
    width:100%;
    background-color: #ab2758;
}